.card-title {
    background-image: url("/assets/logo-instagram.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 60px;
    width: 100%;
}
.ng-touched .ng-valid  {
    border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}
.ng-invalid .ng-untouched{
    border: 1px solid #c0c0c0; 
}